$color-default: #222;
$color-white: #fff;
$color-black: #000;

$color-background-1: #de982f;
$color-background-2: #9c5f03;


//breakpoints

$bp-largest: 56.25em;      //900 width, for modal 
$bp-large: 50em;      //800 width, font size decrease

$bp-medium: 43.75rem;       //700width
$bp-small: 37.5em;          //600width
$bp-smallest: 25em;         //400width
