.button{       
    position: relative;
    z-index: 20;   

    border: 2px solid $color-default;
    border-radius: 10%;
    font-size: 2rem;
    font-family: 'Roboto Slab', serif;       
    font-weight: 700;
    letter-spacing: .1rem;
    transition: all .2s;

    padding: 1rem 4.5rem;
    background-image: linear-gradient(to left top, $color-background-1,$color-background-2);

    &:hover{
        transform: scale(1.05);
    }
    &:active{
        transform: translateY(-.3rem);
    }
    &:focus{
        outline: none;
    }


    &--modal{
        background-image: linear-gradient(to right bottom, $color-background-1,$color-background-2);
        margin-bottom: 2rem;

        @media only screen and(max-width: $bp-largest){
            font-size: 1.4rem;
            padding: 1rem 2rem;
        }
        @media only screen and(max-width: $bp-small){
            font-size: 1.3rem;
            padding: .5rem 1rem;
        }
    }
}