.home-page{
    position: relative;
    padding: 6rem 7rem;
    border: 1px solid $color-black;
    display: inline-block;
    text-align: center;
    
    @media only screen and(max-width: $bp-small){
        padding: 6rem 2.5rem;
    }
    
    &::after{
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: url('../img/background.png');
        background-size: cover;
        opacity: 0.04;
        z-index: 10;
    }

    &__heading-primary{
        font-size: 3.5rem;
        margin-bottom: 7rem;
        transform: skewX(-20deg);
        
    }
    &__text{
        font-size: 1.8rem;
        margin-bottom: 7rem;
    }

}
